<div class="container-fluid">
    <h3>Items registrados <span class="badge badge-secondary">26</span></h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nome do produto">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Categoria</label><br>
      <p-dropdown [options]="categories" [(ngModel)]="name" optionLabel="name"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Descrição</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="categoria">
      <small id="emailHelp" class="form-text text-muted">Descrição breve do item</small>
    </div>
    <button type="submit" class="btn btn-lg btn-primary" style="width:100%;"><strong><i class="fa fa-fw fa-dollar"></i>Registrar</strong></button>
</div>
