<div class="container-fluid">
  <h3>Centro de custos</h3>
  <div class="form-group">
    <label for="moneyBase">Teto de gastos</label>
    <input type="text" class="form-control" id="moneyBase" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" pInputText [(ngModel)]="moneyBase" style="padding:20px; font-size:1.4em;"/>
    <small id="moneyBase" class="form-text text-muted">Valor mensal, salário ou quantia específica que deseje controlar.</small>
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1">Resumo</label><br>
      Jan : <span class="badge badge-primary" style="margin-bottom:0.5em">2500,00</span> - <span class="badge badge-danger"> - 475,80</span><br>
      Fev : <span class="badge badge-primary" style="margin-bottom:0.5em">2350,00</span> - <span class="badge badge-success">  823,10</span><br>
      Mar : <span class="badge badge-primary" style="margin-bottom:0.5em">2200,50</span> - <span class="badge badge-success">  475,32</span><br>
      Abr : <span class="badge badge-primary" style="margin-bottom:0.5em">1802,75</span> - <span class="badge badge-danger"> - 1805,90</span><br>
  </div>
  <button type="submit" class="btn btn-lg btn-primary" style="width:100%;"><strong><i class="fa fa-fw fa-dollar"></i>Registrar</strong></button>
</div>
