<div class="container-fluid">
  <h3>Centro de custos</h3>

  <p-messages [(value)]="msgsRegister"></p-messages>

  <div class="form-group">
  <form autocomplete="off" #form="ngForm">
    <label for="moneyBase">Teto de gastos</label>
    <input type="text" class="form-control" name="base" id="moneyBase" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" pInputText [(ngModel)]="costCenter.base" style="padding:20px; font-size:1.4em;" required/>
    <small id="moneyBase" class="form-text text-muted">Valor mensal, salário ou quantia específica que deseje controlar.</small>
  
    <div class="ui-g-12 ui-md-6" style="text-align: center;">
        <p-radioButton name="costCenterMoney" name="costCenter" value="Dinheiro" label="Dinheiro" [(ngModel)]="costCenter.name" required></p-radioButton>&nbsp;&nbsp;
        <p-radioButton name="costCenterCartao" name="costCenter" label="Cartão de créd" value="Cartão de crédito" [(ngModel)]="costCenter.name" required></p-radioButton>&nbsp;&nbsp;
        <p-radioButton name="costCenterVr" name="costCenter" label="VR" value="vr" [(ngModel)]="costCenter.name" required></p-radioButton>&nbsp;&nbsp;
        <p-radioButton name="costCenterVr" name="costCenter" label="VA" value="va" [(ngModel)]="costCenter.name" required></p-radioButton>&nbsp;&nbsp;
    </div>
    <button type="submit" class="btn btn-lg btn-primary" [disabled]="!form.valid" style="width:100%;" (click)="registerCash()"><strong><i class="fa fa-fw fa-dollar"></i>Registrar</strong></button>
  </form> 
</div>