<div class="container-fluid">
  <h3>Items registrados <span class="badge badge-secondary">26</span></h3>
  <form autocomplete="off" #form="ngForm">
    <div class="form-group">
      <label for="categoryName">Nome</label>
      <input type="text" name="categoryName" class="form-control" id="categoryName" [(ngModel)]="categoria.name" placeholder="nome do produto" required>
    </div>
    <div class="form-group">
      <label for="descInput">Descrição</label>
      <input type="text" name="categoryDesc" [(ngModel)]="categoria.description" class="form-control" id="descInput" placeholder="Descrição breve do item" required>
    </div>
    <button type="button" [disabled]="!form.valid" class="btn btn-primary btn-lg" (click)="register()" style="width:100%; margin-top:6px;">Registrar</button>
  </form>
  <p-messages [(value)]="msgsRegister"></p-messages>
</div>