<div>
  <div style="font-size: 2em; text-align: center; color: dimgray;">
    
    <!-- Home -->
    <a [routerLink]="['/home']" class="menuItem">
      <i class="fa fa-fw fa-home"></i>
    </a>&nbsp;
    
    <!-- Categorias -->
    <a [routerLink]="['/home']" class="menuItem">
      <i class="fa fa-fw fa-list"></i>
    </a>&nbsp;

    <a [routerLink]="['/produtos']" class="menuItem">
      <!-- Produtos -->
      <i class="fa fa-fw fa-cube"></i>
    </a>&nbsp;

    <!-- Centro de custos -->
    <a [routerLink]="['/centro-de-custo']" class="menuItem">
      <i class="fa fa-fw fa-bank"></i>
    </a>&nbsp;

    <!-- Gastos -->
    <a [routerLink]="['/gastos']" class="menuItem">
      <i class="fa fa-fw fa-dollar"></i>
    </a>&nbsp;

    <!-- Relatorios -->
    <a [routerLink]="['/relatorios']" class="menuItem">
      <i class="fa fa-fw fa-pie-chart"></i>
    </a>&nbsp;

  </div>
</div>
<hr style="margin-top:0.5em; margin-bottom: 0.5em"/>