<div _ngcontent-c0="" class="ng-tns-c0-0" id="layout-topbar"></div><div style="height: 74px;"></div>

<div style="width: 800px; margin: 10px;">

<p-menubar [model]="items">
        <div>
            <input type="text" pInputText placeholder="Search">
            <button pButton label="Logout" icon="fa fa-sign-out"></button>
        </div>
    </p-menubar>
</div>



<button _ngcontent-c2="" class="ui-button-success ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" label="Success" pbutton="" type="button">
<span class="ui-button-text ui-clickable">Success</span>
</button>

<button _ngcontent-c2="" icon="pi pi-check" label="Click" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
	<span aria-hidden="true" class="ui-button-icon-left ui-clickable pi pi-check"></span>
	<span class="ui-button-text ui-clickable">Click</span>
</button>

<br><br><br>
 

<br><br><br>
<i class="pi pi-spin pi-spinner" style="font-size: 3em"></i>