<article class="entry box format-image" style="position: relative; left: 0px;">
	<div class="entry-content-cnt">
		<div class="entry-content">
			<a href="https://preview.cssigniter.com/preview/pinfinity/files/2012/07/p04.jpg" class="thumb" rel="fancybox[203]" title=""><img src="https://preview.cssigniter.com/preview/pinfinity/files/2012/07/p04-500x237.jpg" class="attachment-ci_listing_thumb size-ci_listing_thumb wp-post-image" alt="" srcset="https://preview.cssigniter.com/preview/pinfinity/files/2012/07/p04-500x237.jpg 500w, https://preview.cssigniter.com/preview/pinfinity/files/2012/07/p04-300x142.jpg 300w, https://preview.cssigniter.com/preview/pinfinity/files/2012/07/p04.jpg 750w" sizes="(max-width: 500px) 100vw, 500px"></a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</div>

	<div class="entry-desc">

		<a href="#">Estatísticas</a>
		<div class="entry-meta group">
			<i class="material-icons">touch_app</i>
			<a class="comments-no" href="#" style="font-weight: bold;"> votos: 1.888.667</a>
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			<a class="entry-permalink" href="https://www.cssigniter.com/preview/pinfinity/2015/07/30/beautiful-little-church/" title="Permalink to Beautiful little church."><i class="fa fa-link"></i>
			</a>
		</div>
	</div>	
</article>


<br><br><br><br>


<ul>
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>

    <ul>
      <li>{{ user.email }}</li>
      <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
    </ul>
  </li>
</ul>
