<div class="jumbotron" style="margin: 0.5em; padding:1em;">
    <div>
      <h2>Lançar</h2>

      <div style=" margin-bottom: 20px;">
        <form autocomplete="off" #form="ngForm">
          <p style="margin-bottom: 0.5em;">
             <label>Retroativo</label>&nbsp;&nbsp;<p-checkbox name="retroCheck" (click)="retroCheckValid()" binary="true" value="retroCheck" [(ngModel)]="retroCheck"></p-checkbox><br>
             <p-calendar *ngIf="retroRegister" [readonlyInput]="true" name="retro" [timeOnly]="true" [(ngModel)]="operartion.retro" showTime="true" hourFormat="24"></p-calendar>
          </p>

          <input type="text" name="gasto" class="form-control" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" pInputText [(ngModel)]="operartion.value" style="padding:20px; font-size:1.4em;" required/>
          
          <p style="margin-top: 0.5em;">
            <p-dropdown readonlyInput="true" [options]="categories" name="produto" optionLabel="name" [(ngModel)]="operartion.produto" [style]="{'width':'100%'}" [filter]="true" required></p-dropdown>
          </p>

          <div class="ui-g-6 ui-md-6">
            <span *ngFor="let item of costAvailable">
                <p-radioButton name="entryDispend{{item.name}}" value="{{item.id}}" label="{{item.name}}" [(ngModel)]="operartion.centroCusto" required></p-radioButton>&nbsp;&nbsp;
            </span>
          </div>
          <button type="button" [disabled]="!form.valid" class="btn btn-danger btn-lg" (click)="execGastar()" style="width:100%; margin-top:6px;">Gastar</button>
        </form>
      </div>

      <div style="font-size:3em;">
        <span class="badge {{setColorMessage}}" style="width:100%">R$ {{currentGasto | number: '1.2-2'}}</span>
      </div>

      <div style="font-size:1.4em;margin-top: 1em;">
        <b>Diário:</b>&nbsp;&nbsp; <span class="badge badge-primary">R$ {{limite | number:'1.2-2'}}</span>&nbsp;<span class="badge badge-primary">{{percentualExit | number: '1.1-1'}}%</span>
      </div>
      <!--Messages -->
      <p-messages [(value)]="msgsRegister"></p-messages>
      <p-messages [(value)]="msgsStatus" [closable]="false"></p-messages>
      
    </div>
  </div>